[tool.black]
line-length = 120

[tool.poetry]
name = "lnurl"
version = "0.4.0"
description = "LNURL implementation for Python."
authors = ["Alan Bits <alan@lnbits.com>"]
license = "MIT"
readme = "README.md"
packages = [
  {include = "lnurl"},
  {include = "lnurl/py.typed"},
]

[tool.poetry.dependencies]
python = "^3.8.1"
requests = "^2.28.2"
pydantic = "^1.10.4"
bech32 = "^1.2.0"


[tool.poetry.group.dev.dependencies]
flake8 = "^6.0.0"
black = "^23.1.0"
flake8-mypy = "^17.8.0"
pytest = "^7.2.1"
pytest-cov = "^4.0.0"
twine = "^4.0.2"
types-requests = "^2.28.11.12"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = [
  "tests"
]
